# --------- Tacotron2 + Tronduo additions --------- #
torch==1.13.1
scipy
librosa==0.9.2
unidecode
inflect

# --------- HiFi-GAN --------- #
glob
matplotlib

# --------- MOS_SSL ------- #
fairseq==0.10.2
torchaudio==0.13.1
argparse

# --------- So_To_Speak interface --------- #
notebook
ipywidgets
numpy
g2p_en
pandas
json
tqdm